<ion-header >
  <ion-toolbar color="gray">
<ion-buttons>
  <ion-img class="img"src="../assets/logo.png"></ion-img>
  <ion-menu-button color="dark" slot="end"></ion-menu-button>
</ion-buttons>

</ion-toolbar>
<ion-searchbar color="dark"  showCancelButton animated placeholder="Buscar"(ionchange)="buscar($event)"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-slides  [options]="slideOpts">
    <ion-slide>
      <img src="../assets/foto11.jpg" alt="">
    </ion-slide>
    <ion-slide>
          <img src="../assets/foto22.jpg"/>
    </ion-slide>
    <ion-slide>
      <img src="../assets/foto33.jpg"/>
    </ion-slide>
  </ion-slides>
  
  <h1 >
   MENÚ DEL DÍA
  </h1>
  <ion-grid>
  <ion-row>
    <ion-col *ngFor="let producto of producto"  >
      <ion-card class="cartaproducto"> 
        <ion-card-header>
          <ion-img class="fotoproducto" src="../assets/fotopro.jpg"></ion-img>
          <ion-card-subtitle> {{producto.restaurante}}</ion-card-subtitle>
          <ion-card-title>{{producto.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              PRECIO:{{producto.precio}}  <br>
              UBICACION: {{producto.ubicacion}}
        </ion-card-content>
        <ion-item>
          <ion-icon name="" slot="start"></ion-icon>
          <ion-button color="dark" fill="outline" slot="end" >
            Añadir al pedido<ion-icon name="cart"></ion-icon></ion-button>
        </ion-item>
      </ion-card>
    
    </ion-col>
    
  </ion-row>
</ion-grid>

<h2 >
 RESTAURANTES
 </h2>
 <ion-grid>
 <ion-row>
   <ion-col *ngFor="let restaurante of restaurante"  >
     <ion-card class="cartarestaurante"> 
       <ion-card-header>
         <ion-img class="fotorestaurante" src="../assets/fotores.png"></ion-img>
         <ion-card-title>{{restaurante.nombre}}</ion-card-title>
       </ion-card-header>
       <ion-card-content>
            DESCRIPCIÓN:{{restaurante.descripcion}}  <br>
             UBICACION: {{restaurante.ubicacion}}
       </ion-card-content>
       <ion-item>
         <ion-icon name="" slot="start"></ion-icon>
         <ion-button color="dark" fill="outline" slot="end" routerLink="/menurestaurante/{{restaurante.id}}">
          Ver Menú<ion-icon name="clipboard"></ion-icon></ion-button>
         <ion-icon name="heart" color="danger"></ion-icon>
       </ion-item>
     </ion-card>
   
   </ion-col>
   
 </ion-row>
</ion-grid>

</ion-content>


