h1{
    text-align: center;
    color:dark;
    font-family:fantasy, 'Times New Roman', Times, serif;
}
.cartaproducto{
   width: 300px;
   margin:auto

}
.cartarestaurante{
    width: 300px;
    margin:auto
 
 }
 h2{
    text-align: center;
    color:dark;
    font-family:fantasy, 'Times New Roman', Times, serif;
}