

<ion-content class="auth-form" >
    <ion-img class="usuariofoto" src="../assets/logo.png"></ion-img>
  <ion-grid fixed>
    <ion-row>
      <ion-col align-self-center>
        <ion-button class="loguearse1" [routerLink]="['/login/usuario']" size="small" expand="block" color="dark">¿Eres Usuario?</ion-button>
        <ion-button class="loguearse" [routerLink]="['/login/restaurante']" size="small" expand="block" color="primary">¿Eres Restaurante?</ion-button>
        <ion-button class="loguearse" [routerLink]="['/login/chofer']" size="small" expand="block" color="danger">¿Eres Chofer?</ion-button>
        
        <span class="divider line one-line"></span>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 