<ion-header >
  <ion-toolbar color="gray">
<ion-buttons>
  <ion-img class="img"src="../assets/logo.png"></ion-img>
  <ion-menu-button color="dark" slot="end"></ion-menu-button>
  <ion-button  color="dark" slot="end"[routerLink]="['/sesion/usuario']">
    <ion-icon name="home"></ion-icon>Home</ion-button>
</ion-buttons>
</ion-toolbar>
<ion-searchbar color="dark"  showCancelButton animated placeholder="Buscar"(ionchange)="buscar($event)"></ion-searchbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let producto of producto"  >
      <ion-card class="cartaproducto"> 
        <ion-card-header>
          <ion-img class="fotoproducto" src="../assets/fotopro.jpg"></ion-img>
          <ion-card-title>{{producto.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
              PRECIO:{{producto.precio}}  <br>
              DESCRIPCION: {{producto.descripcion}}
        </ion-card-content>
        <ion-item>
          <ion-icon name="" slot="start"></ion-icon>
          <ion-button color="dark" fill="outline" slot="end" (click)="multilevelservice.agregarPedido(producto)">
            Añadir al pedido<ion-icon name="cart"></ion-icon></ion-button>
        </ion-item>
      </ion-card>
    
    </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>